*{
    margin:0;
    padding:0;
    text-align: center;
}
nav {
    color:(to right, #00c6ff, #0072ff);
}
nav h1{
    line-height: 4rem;
    font-size: 2rem;
    color:#1D1616;
}
body{
    min-height: 100vh;
    width:100;
    background:linear-gradient(to bottom,#f7971e, #ffd200, #86e3ce);
}
#template{
    height:10rem;
    width:100%;

}
/* for a image div */
.choice{
    height:190px;
    width:170px;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    

}
.choice img{
 height:100%;
 width:100%;
 object-fit: cover;
 padding: 1.5rem;

 
}
.choices{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
    margin-top: 6rem;
}
.choice:hover{
    cursor:pointer;
    background:linear-gradient(45deg, #ee2b09,#d8e214);
}
/* score board */
.score_board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap:8rem;
    margin-top: 3rem;
}
#User_score,#computer_score{

    font-size: 4rem;
}
.msg_container{
    margin-top:3rem;
}

#msg{
   
    background-color: #1D1616;
    color:#fff;
    font-size: 2rem;
    display: inline;
    padding:1rem;
    border-radius: 0.5rem;
}
/* game info */
.gameInfo{
    height:200px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:8rem;
    margin-top:3rem;
    
}
